body {
  background: rgb(95,167,190);
  background-size: cover;
  }
  

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.container{
  display:flex;
  align-items:center;
  flex-wrap: wrap;
  justify-content: center;
 
}
.box{
  flex:1;
  order:1;
border:1px #ccc solid;
  padding:10px;
    
}
.content{
  margin: auto;
  width: 20%;
  padding: 10px;
}